@keyframes slideMask {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  
  .transitionBg {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 30;
    background-color: #2e2257;
    mask-image: url('/ezgif.com-loop-count.gif');
    -webkit-mask-image: url('/ezgif.com-loop-count.gif');
    mask-size: cover;
    -webkit-mask-size: cover;
    mask-position: center;
    -webkit-mask-position: center;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    animation: slideMask 0.6s ease-in-out 0.2s forwards;
  }